samples/jira-logger-solution/src/Workflows/JIRAworklogdatamerge-567A7B2D-1813-EF11-9F89-000D3AB81244.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "pasu_sharedsharepointonline_d6e99"
        },
        "runtimeSource": "embedded"
      },
      "shared_excelonlinebusiness": {
        "api": {
          "name": "shared_excelonlinebusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "pasu_sharedexcelonlinebusiness_6b366"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "staticResults": {
        "Update_file_-_worklogs20240": {
          "status": "Succeeded",
          "outputs": {
            "statusCode": "OK"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "ceb4a1e4-b6bc-44dd-92dd-f872a38a5fd3"
          }
        }
      },
      "actions": {
        "Initialize_mergeString": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "mergeString",
                "type": "string",
                "value": "Datum,Kod,Beszallito,Logolt oraszam,Komponens kod@{variables('Enter')}"
              }
            ]
          },
          "runAfter": {
            "Initialize_Enter": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b525a04e-6d10-4be1-ac1c-4f2ee02f61ff"
          }
        },
        "merge_worklogs_by_users": {
          "type": "Scope",
          "actions": {
            "List_folder_worklogs_by_user": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://axelhu.sharepoint.com/sites/Sandboxsite-PowerAutomate",
                  "id": "%252fMegosztott%2bdokumentumok%252fsandbox_jiraworklogs%252f_flow_processing%252fworklogs"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "ListFolder",
                  "connectionName": "shared_sharepointonline_1"
                }
              },
              "metadata": {
                "%252fMegosztott%2bdokumentumok%252fsandbox_jiraworklogs%252fworklogs_by_user": "/Megosztott dokumentumok/sandbox_jiraworklogs/worklogs_by_user",
                "operationMetadataId": "451fe163-319f-4602-91f4-4548ee788d77",
                "%252fMegosztott%2bdokumentumok%252fsandbox_jiraworklogs%252f_flow_processing%252fworklogs": "/Megosztott dokumentumok/sandbox_jiraworklogs/_flow_processing/worklogs"
              }
            },
            "Sort_files": {
              "type": "Compose",
              "inputs": "@sort(outputs('List_folder_worklogs_by_user')?['body'],'name')",
              "runAfter": {
                "List_folder_worklogs_by_user": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "55f8b1ae-de43-4b74-a317-1e141afa97a2"
              }
            },
            "For_each_worklog_by_user": {
              "type": "Foreach",
              "foreach": "@outputs('Sort_files')",
              "actions": {
                "Get_file_content": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://axelhu.sharepoint.com/sites/Sandboxsite-PowerAutomate",
                      "id": "@item().id",
                      "inferContentType": true
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "GetFileContent",
                      "connectionName": "shared_sharepointonline_1"
                    }
                  },
                  "metadata": {
                    "%252fMegosztott%2bdokumentumok%252fsandbox_jiraworklogs%252fworklogs_by_user%252fworklogs_richard.david.csv": "/Megosztott dokumentumok/sandbox_jiraworklogs/worklogs_by_user/worklogs_richard.david.csv",
                    "operationMetadataId": "66a868ae-6ff2-4b07-bc90-8020a9915e67"
                  }
                },
                "Compose_mergeString": {
                  "type": "Compose",
                  "inputs": "@{variables('mergeString')}@{skip(base64ToString(outputs('Get_file_content')?['body']['$content']),add(indexOf(base64ToString(outputs('Get_file_content')?['body']['$content']),variables('Enter')),1))}",
                  "runAfter": {
                    "Get_file_content": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cab0fdf4-d3ca-45e4-9074-8c719a5032b0"
                  }
                },
                "Set_mergeString": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "mergeString",
                    "value": "@{outputs('Compose_mergeString')}"
                  },
                  "runAfter": {
                    "Compose_mergeString": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e6be62ec-0494-41e1-ae21-27cd1095955b"
                  }
                }
              },
              "runAfter": {
                "Sort_files": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b9d3f64-c496-4609-b710-94ef46e312cd"
              }
            }
          },
          "runAfter": {
            "Initialize_manualWorklogs": [
              "Succeeded"
            ]
          }
        },
        "Initialize_Enter": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Enter",
                "type": "string",
                "value": "\n"
              }
            ]
          },
          "runAfter": {
            "Define_YEAR": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1456f681-3056-4e81-98d2-0d6f8b56ebb0"
          }
        },
        "Define_YEAR": {
          "type": "Compose",
          "description": "convertFromUtc(getPastTime(10,'Day'),'Central Europe Standard Time','yyyy')",
          "inputs": "@convertFromUtc(getPastTime(10,'Day'),'Central Europe Standard Time','yyyy')",
          "runAfter": {}
        },
        "adding_manual_worklogs": {
          "type": "Scope",
          "actions": {
            "Run_script_-_manual_worklogs": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "sites/axelhu.sharepoint.com,bf365277-1130-4072-af7a-f1f74640c55f,4141b638-222f-4a93-b50a-7a8162bd1a39",
                  "drive": "b!d1I2vzARckCvevH3RkDFXzi2QUEvIpNKtQp6gWK9GjnH4gP4WgDYSrogyCFFZnjD",
                  "file": "01FSZZIXYS4K5MSMEWVZAIJKQSN5JDKZKL",
                  "scriptSource": "sites/axelhu.sharepoint.com,736a41f2-e400-4181-a38b-396960e3ae33,73644a25-af2b-4018-8217-02c00514acdc",
                  "scriptDrive": "b!8kFqcwDkgUGjizlpYOOuMyVKZHMrrxhAghcCwAUUrNyIHe74bkT1S56uXuIMVfae",
                  "scriptId": "01AAKL2QOFTGJNBRK72NCZSPPBCMDBZOG5"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "operationId": "RunScriptProdV2",
                  "connectionName": "shared_excelonlinebusiness"
                }
              },
              "metadata": {
                "01FSZZIXYS4K5MSMEWVZAIJKQSN5JDKZKL": "/manual_worklogs/manual_worklogs.xlsx",
                "01AAKL2QOFTGJNBRK72NCZSPPBCMDBZOG5": "/sandbox_jiraworklogs/convert_to_table.osts",
                "operationMetadataId": "c7580404-f28e-44ca-bf37-fd552e7bdaba",
                "tableId": null
              }
            },
            "List_rows_present_in_a_table": {
              "type": "OpenApiConnection",
              "description": "ISO 8601 format az egyszerubb szureshez kovetkezo lepesben",
              "inputs": {
                "parameters": {
                  "source": "sites/axelhu.sharepoint.com,bf365277-1130-4072-af7a-f1f74640c55f,4141b638-222f-4a93-b50a-7a8162bd1a39",
                  "drive": "b!d1I2vzARckCvevH3RkDFXzi2QUEvIpNKtQp6gWK9GjnH4gP4WgDYSrogyCFFZnjD",
                  "file": "01FSZZIXYS4K5MSMEWVZAIJKQSN5JDKZKL",
                  "table": "TableForPowerAutomate",
                  "dateTimeFormat": "ISO 8601"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "operationId": "GetItems",
                  "connectionName": "shared_excelonlinebusiness"
                }
              },
              "runAfter": {
                "Delay_1_sec": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "01FSZZIXYS4K5MSMEWVZAIJKQSN5JDKZKL": "/manual_worklogs/manual_worklogs.xlsx",
                "operationMetadataId": "9c117e08-0f59-4391-bb3a-c53238c13164",
                "tableId": "TableForPowerAutomate"
              }
            },
            "Delay_1_sec": {
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 1,
                  "unit": "Second"
                }
              },
              "runAfter": {
                "Run_script_-_manual_worklogs": [
                  "Succeeded"
                ]
              }
            },
            "Apply_to_each_manual_worklog": {
              "type": "Foreach",
              "foreach": "@outputs('List_rows_present_in_a_table')?['body/value']",
              "actions": {
                "Compose_manual_worklog": {
                  "type": "Compose",
                  "inputs": "@{formatDateTime(item().Datum,'yyyy.MM.dd')},@{item().Kod},@{item().Beszallito},@{item()['Logolt oraszam']},@{item()['Komponens kod']}@{variables('Enter')}",
                  "metadata": {
                    "operationMetadataId": "c7b6f377-214b-402c-b9ad-8951e3686008"
                  }
                },
                "Set_manualWorklogs": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "manualWorklogs",
                    "value": "@{outputs('Compose_all_manual_worklog')}"
                  },
                  "runAfter": {
                    "Compose_all_manual_worklog": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_all_manual_worklog": {
                  "type": "Compose",
                  "inputs": "@{variables('manualWorklogs')}@{outputs('Compose_manual_worklog')}",
                  "runAfter": {
                    "Compose_manual_worklog": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "List_rows_present_in_a_table": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Update_mergeString": [
              "Succeeded"
            ]
          }
        },
        "Compose_mergeString_final": {
          "type": "Compose",
          "inputs": "@{variables('mergeString')}@{variables('manualWorklogs')}",
          "runAfter": {
            "adding_manual_worklogs": [
              "Succeeded"
            ]
          }
        },
        "Set_mergeString_final": {
          "type": "SetVariable",
          "inputs": {
            "name": "mergeString",
            "value": "@{outputs('Compose_mergeString_final')}"
          },
          "runAfter": {
            "Compose_mergeString_final": [
              "Succeeded"
            ]
          }
        },
        "Update_file_-_worklogs": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://axelhu.sharepoint.com/sites/jiraworklog",
              "id": "%252fShared%2bDocuments%252fjira_riports%252fworklogs.csv",
              "body": "@concat(uriComponentToString('%EF%BB%BF'),variables('mergeString'))"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "UpdateFile",
              "connectionName": "shared_sharepointonline_1"
            }
          },
          "runAfter": {
            "Set_mergeString_final": [
              "Succeeded"
            ]
          },
          "metadata": {
            "%252fMegosztott%2bdokumentumok%252fsandbox_jiraworklogs%252fworklogs2024.csv": "/Megosztott dokumentumok/sandbox_jiraworklogs/worklogs2024.csv",
            "operationMetadataId": "c1472d68-73d5-46c1-8439-45995d39c115",
            "%252fMegosztott%2bdokumentumok%252fsandbox_jiraworklogs%252fworklogs.csv": "/Megosztott dokumentumok/sandbox_jiraworklogs/worklogs.csv",
            "%252fShared%2bDocuments%252fjira_riports%252fworklogs.csv": "/Shared Documents/jira_riports/worklogs.csv"
          }
        },
        "Initialize_manualWorklogs": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "manualWorklogs",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_mergeArchive": [
              "Succeeded"
            ]
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "title": "response",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "response": "done"
            }
          },
          "runAfter": {
            "Create_file_-_worklogsYYYY": [
              "Succeeded"
            ],
            "Create_archive_file": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7912cadb-806c-4bf8-8a1f-c25aeecbf51e"
          }
        },
        "Create_file_-_worklogsYYYY": {
          "type": "OpenApiConnection",
          "description": "worklogs_@{outputs('Define_YEAR')}.csv\n\nconcat(uriComponentToString('%EF%BB%BF'),variables('mergeString'))",
          "inputs": {
            "parameters": {
              "dataset": "https://axelhu.sharepoint.com/sites/jiraworklog",
              "folderPath": "/Shared Documents/jira_riports",
              "name": "worklogs_@{outputs('Define_YEAR')}.csv",
              "body": "@concat(uriComponentToString('%EF%BB%BF'),variables('mergeString'))"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "CreateFile",
              "connectionName": "shared_sharepointonline_1"
            }
          },
          "runAfter": {
            "merge_worklogs_by_users": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Create_archive_file": {
          "type": "OpenApiConnection",
          "description": "eles file contentet archive mappaba is mentjuk",
          "inputs": {
            "parameters": {
              "dataset": "https://axelhu.sharepoint.com/sites/jiraworklog",
              "folderPath": "/Shared Documents/archive",
              "name": "worklogs_@{outputs('Define_YEAR')}.csv",
              "body": "@concat(uriComponentToString('%EF%BB%BF'),variables('mergeString'))"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "CreateFile",
              "connectionName": "shared_sharepointonline_1"
            }
          },
          "runAfter": {
            "merge_worklogs_by_users": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "collect_archive_files": {
          "type": "Scope",
          "actions": {
            "List_folder_-_jiraworklog_archive": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://axelhu.sharepoint.com/sites/jiraworklog",
                  "id": "%252fShared%2bDocuments%252farchive"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "ListFolder",
                  "connectionName": "shared_sharepointonline_1"
                }
              },
              "metadata": {
                "%252fShared%2bDocuments%252farchive": "/Shared Documents/archive",
                "%252fShared%2bDocuments": "/Shared Documents",
                "%252fShared%2bDocuments%252fjira_riports": "/Shared Documents/jira_riports",
                "%252fShared%2bDocuments%252farchive%252fjira_riports_2024-07-02": "/Shared Documents/archive/jira_riports_2024-07-02"
              }
            },
            "Select_archive_data": {
              "type": "Select",
              "inputs": {
                "from": "@body('List_folder_-_jiraworklog_archive')",
                "select": {
                  "name": "@item()?['Name']",
                  "isFolder": "@item()?['IsFolder']",
                  "id": "@item()?['Id']"
                }
              },
              "runAfter": {
                "List_folder_-_jiraworklog_archive": [
                  "Succeeded"
                ]
              }
            },
            "Filter_out_folders": {
              "type": "Query",
              "description": "item()['isFolder'] = false",
              "inputs": {
                "from": "@body('Select_archive_data')",
                "where": "@equals(item()['isFolder'],false)"
              },
              "runAfter": {
                "Select_archive_data": [
                  "Succeeded"
                ]
              }
            },
            "Filter_filename": {
              "type": "Query",
              "description": "item()['name'] contains worklogs",
              "inputs": {
                "from": "@body('Filter_out_folders')",
                "where": "@contains(item()['name'],'worklogs')"
              },
              "runAfter": {
                "Filter_out_folders": [
                  "Succeeded"
                ]
              }
            },
            "Filter_filename_length": {
              "type": "Query",
              "description": "length(item()['name']) = length('worklogs_yyyy.csv')",
              "inputs": {
                "from": "@body('Filter_filename')",
                "where": "@equals(length(item()['name']),length('worklogs_yyyy.csv'))"
              },
              "runAfter": {
                "Filter_filename": [
                  "Succeeded"
                ]
              }
            },
            "Filter_past_years": {
              "type": "Query",
              "description": "substring(item()['name'],add(length(item()['name']),-8),4)   <   this year",
              "inputs": {
                "from": "@body('Filter_filename_length')",
                "where": "@less(substring(item()['name'],add(length(item()['name']),-8),4),outputs('Define_YEAR'))"
              },
              "runAfter": {
                "Filter_filename_length": [
                  "Succeeded"
                ]
              }
            },
            "Sort_by_year": {
              "type": "Compose",
              "description": "sort(body('Filter_past_years'),'name')",
              "inputs": "@sort(body('Filter_past_years'),'name')",
              "runAfter": {
                "Filter_past_years": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Respond_to_a_Power_App_or_flow": [
              "Succeeded"
            ]
          }
        },
        "Apply_to_each": {
          "type": "Foreach",
          "description": "archive file content osszefuzese",
          "foreach": "@outputs('Sort_by_year')",
          "actions": {
            "Get_file_content_-_archive_logs": {
              "type": "OpenApiConnection",
              "description": "item()['id']",
              "inputs": {
                "parameters": {
                  "dataset": "https://axelhu.sharepoint.com/sites/jiraworklog",
                  "id": "@item()['id']",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileContent",
                  "connectionName": "shared_sharepointonline_1"
                }
              }
            },
            "Compose_mergeArchive": {
              "type": "Compose",
              "description": "skip(base64ToString(outputs('Get_file_content_-_archive_logs')?['body']['$content']),add(indexOf(base64ToString(outputs('Get_file_content_-_archive_logs')?['body']['$content']),variables('Enter')),1))",
              "inputs": "@{variables('mergeArchive')}@{skip(base64ToString(outputs('Get_file_content_-_archive_logs')?['body']['$content']),add(indexOf(base64ToString(outputs('Get_file_content_-_archive_logs')?['body']['$content']),variables('Enter')),1))}",
              "runAfter": {
                "Get_file_content_-_archive_logs": [
                  "Succeeded"
                ]
              }
            },
            "Set_mergeArchive": {
              "type": "SetVariable",
              "inputs": {
                "name": "mergeArchive",
                "value": "@outputs('Compose_mergeArchive')"
              },
              "runAfter": {
                "Compose_mergeArchive": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "collect_archive_files": [
              "Succeeded"
            ]
          }
        },
        "Initialize_mergeArchive": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "mergeArchive",
                "type": "string",
                "value": "Datum,Kod,Beszallito,Logolt oraszam,Komponens kod@{variables('Enter')}"
              }
            ]
          },
          "runAfter": {
            "Initialize_mergeString": [
              "Succeeded"
            ]
          }
        },
        "Update_mergeString": {
          "type": "SetVariable",
          "description": "with mergeArchive data",
          "inputs": {
            "name": "mergeString",
            "value": "@outputs('Compose_mergeString2')"
          },
          "runAfter": {
            "Compose_mergeString2": [
              "Succeeded"
            ]
          }
        },
        "Compose_mergeString2": {
          "type": "Compose",
          "description": "skip(variables('mergeString'),add(indexOf(variables('mergeString'),variables('Enter')),1))",
          "inputs": "@{variables('mergeArchive')}@{skip(variables('mergeString'),add(indexOf(variables('mergeString'),variables('Enter')),1))}",
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}